body {
   background-color: #131313;
   margin: 0;
}
.header {
    border-bottom: 1px solid #272727;
    overflow: auto;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
}

.numbers, .logo, .navigation, .navigation-item, .table {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo{
    float: left;
    padding: 1rem 0;
}
.navigation {
    float: left;
}
.main, .history, .navigation-item  a{
color: white;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
padding: 1.3rem .5rem;
font-style: bold;
font-family: Arial, Helvetica, sans-serif;
}
.number {
border-top: none;
border-bottom: none;
border-left: 2px #272727 solid;
color: white;
text-transform: lowercase;
text-decoration: none;
display: inline-block;
font-style: bold;
padding: .5em; ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.td1, .td2, .td3, .td4{
border-bottom: 1px #272727 solid;
color: white;
text-transform: uppercase;
font-style: normal;
font-family: 'Times New Roman', Times, serif;
padding: 20px;
margin: 0 ;
}
.main {
    color: #727272;
    text-transform: uppercase;

}
.table {
width: 100%;
margin: 0 auto;
}
.numbers, .move  {
margin: 0 auto;
padding: .5rem 5rem;
color: white;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
font-style: bold;
font-family: Arial, Helvetica, sans-serif;
}