@font-face {
font-family: 'Montserrat', sans-serif;
 src: url(/fonts/Montserrat\,Roboto/)
}
body {
background-color:#201636;
color: white;

}
.hero {
position:relative;
}
.navigation {
position: absolute;
top: 230px;
left: 873px;
margin-bottom: 150px;
}
h2{
  margin-left: 0;
  margin-bottom: 30px;
}
.rectangle{
position: absolute;
width: 670px;
height: 54px;
background: rgba(255, 255, 255, 0.5);
border-radius: 50px
}
.recword {
    margin-top: .5em;
    text-align: center;
    color: black;
}
.instruction {
 width: 670px;
font-style: normal;
font-size: 18px;
line-height: 23px;
margin: 50px auto;

}
.start {
width: 700px;
height: 340px;
position: absolute;
margin-top: 7rem;
display: inline-block;
}
.starter{
width: 250px;
height: 96px;
float:left;
padding-right: 20px;

}
.line{
    width: 92px;
    height: 24px;
    float:left;
    padding-top: 30px;
}
.bottom{
width: 320px;
height: 96px;
float:left;
}
.middle{
width: 1800px;
height: 600px;
background-image: url(/img/fon2.png) ;
 }
.items {
margin-left:28%;
margin-top: 120px;
}
table,td,th  {
width: 1600;
border-style:none;
border-spacing: 150px 0;
margin-left: 280px;
margin-top: 40px;
text-align: center;
font-size: 14px;
}
.career {
margin-top: 6rem ;
margin-left: 18%;
position: relative;
height: 200px;
}
.picend {
width: 1970;
 }
.question{
    margin-left: 100px;
    float: left;
    position: relative;
}
.man {
    position: absolute;
    left: 410px;
}
.rect {
width: 300px;
height: 200px;
position: absolute;
left: 500px;
margin-top:590px;
background:transparent;
background-image: linear-gradient( #211637 29.83%,  100%);
}

.title p:before {
background-image: url(/img/Arrow.svg);
content:'';
background-size: 25px 25px;
background-repeat: no-repeat;
width: 80px;
height: 80px;
display: block;
position: absolute; left: 1050px;

}
.title {
margin-left: 1100px;
width: 400px;
margin-top: 70px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
}
